<div class="container">
  <h1 class="my-3">Pokedex</h1>
  <%= link_to "Dresseurs", trainers_path, class: "mb-3 d-inline-block" %>
  <div class="pokemon-grid">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon), class: "text-decoration-none" do %>
        <div class="pokemon-card">
          <%= cl_image_tag pokemon.photo.key %>
          <h2><%= pokemon.name %></h2>
          <p><%= pokemon.element_type %></p>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
