<div class="container-fluid my-3">
  <div class="grid-two">
    <div class="left-content">
      <%= link_to "← Pokedex", root_path %>
      <p class="my-3">
        Vous entendez un bruit. Un pokemon apparaît dans les hautes herbes...
      </p>
      <div class="pokemon-card">
        <%= cl_image_tag @pokemon.photo.key %>
        <h2><%= @pokemon.name %></h2>
        <p><%= @pokemon.element_type %></p>
      </div>
    </div>
    <div class="right-content d-flex align-items-center justify-content-center">
      
      <% if @pokemon.pokeball.nil? %>
        <%= simple_form_for [@pokemon, Pokeball.new ] do |f| %>
          <%= f.association :trainer %>
          <%= f.input :location %>
          <%= f.input :caught_on %>
          <%= f.submit "Catch!", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <p><%= @pokemon.name %> a déjà été attrapé par <%= link_to @pokemon.trainer.name, trainer_path(@pokemon.trainer) %></p>
      <% end %>
      
      
    </div>
  </div>

</div>